*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
}
.encabezado{
  background-image: url(./img/flores-nomeolvides.jpg);
    background-color: rgb(235, 188, 131);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20vh;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
}
.contenido{
background-color: pink;
width: 50%;
}
.contenido__imagen{
    background-color: rgb(223, 150, 223);
    width: 100%;
}
.contenido__imagen img{
    width: 100%;
}