body{
    background-color: beige;
}
.encabezado{
  background-image: url(./img/flores-nomeolvides.jpg);
    background-color: rgb(235, 188, 131);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20vh;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
}

